# Dependencias de Node.js
node_modules/

# Salidas de compilación de TypeScript
dist/
build/

# Archivos de entorno
.env

# Archivo de migración de Prisma
migrations/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*